@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@237&display=swap');

:root {
    --background: linear-gradient(90deg, black 2%, #193248 70%, #193248 90%);
    --background-text: linear-gradient(90deg, #136d94 10%, black 60%, #f0df53 100%);
    --SulphurPoint: " Sulphur Point", sans-serif;
    --Varela: "Varela Round", sans-serif;
    --Jost: "Jost", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background: var(--background);
}

br::selection,
button::selection,
textarea::selection,
input::selection,
label::selection,
img::selection,
p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
div::selection,
strong::selection {
    display: block;
}

section {
    color: white;
    display: flex;
    height: 100dvh;
}


/* The sidebar menu*/
/*fin de sidenav*/

.container {
    /* contenedor de paginas*/
    display: flex;
    flex-direction: column;
}

.container__about {
    /*primera pagina*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__about__Texto {
    margin-right: 5rem;
    margin-left: 5rem;
}

.container__about__text__Uno {
    font-size: 3em;
    text-align: left;
    font-family: var(--Varela);
}

.container__text__Strong {
    font-size: 1.5em;
}

.container__about__script__Texto {
    font-family: var(--Jost);
    text-align: left;
    font-size: 2rem;
    padding-bottom: .5rem;
}

.container__about__text__Dos {
    font-size: 1.5em;
    text-align: left;
    font-family: var(--Jost);
    padding-bottom: 2rem;
    padding-left: 1.5rem;
}


.container__about__Redes__linkedin {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-family: var(--Varela);
    padding: 0em 1em 0em 0em;
    border-radius: .5em;
    background-color: #136d94;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.container__about__Redes__linkedin:hover {
    transform: translateY(-5px);
    transition: all .5s ease;
}

.container__about__Redes__github:hover {
    transform: translateY(-5px);
    transition: all .5s ease;
}

.container__about__Redes__github {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-family: var(--Varela);
    padding: 0em 1em 0em 0em;
    border-radius: .5em;
    background-color: #282828;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.container__img__Redes {
    height: 35px;
    padding: .2em .5em .2em;
}

.container__img__Perfil {
    margin-right: 4rem;
    filter: drop-shadow(-2px 5px 6px #00000021);
}

.container__about__img__Perfil {
    height: 50dvh;
    max-height: 500px;
    max-width: 500px;
    min-width: 100px;
    min-height: 100px;
}

.container__about__img__Perfil:hover {
    scale: 1;
}

/*segunda pagina*/
.container__services {
    border: 1px solid salmon;
    font-family: var(--Varela);
    display: flex;
}

.container__services__data {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    border: 1px solid greenyellow;
}

.container__services__Title {
    text-align: center;
    padding: .5em 0em 1em 0em;
    font-size: 2em;
}

.container__services__container__uno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
}

.container__services__devWeb {
    margin-left: .3em;
    margin-right: .3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0000003d;
    border-radius: .7em;
    padding: 3em 1em;
}

.container__services__Img {
    height: 4.3em;
    padding-bottom: .5em;

}

.container__services__btn {
    background: #e44d26;
    color: white;
    border: 0;
    border-radius: .5em;
    font-family: var(--Varela);
    transition: all .2s ease;
    padding: em 1em .5em 1em;
    font-size: .8em;
}

.container__services__btn:hover {
    background: #ff4010;
    transform: translateY(-3px);
}

.container__services__btn1 {
    background: #0277bd;
    color: white;
    border: 0;
    border-radius: .5em;
    font-family: var(--Varela);
    transition: all .2s ease;
    padding: .5em 1em .5em 1em;
    font-size: .8em;
}

.container__services__btn1:hover {
    background: #039ae5;
    transform: translateY(-3px);

}

.container__services__btn2 {
    background: #ffec25;
    color: black;
    border: 0;
    border-radius: .5em;
    font-family: var(--Varela);
    transition: all .2s ease;
    padding: .5em;
    font-size: .8em;
}

.container__services__btn2:hover {
    background: #fff158;
    transform: translateY(-3px);

}

.container__services__btn3 {
    background: #341464;
    color: white;
    border: 0;
    border-radius: .5em;
    font-family: var(--Varela);
    transition: all .2s ease;
    padding: .5em 1em .5em 1em;
    font-size: .8em;
}

.container__services__btn3:hover {
    background: #6629c3;
    transform: translateY(-3px);
}

.container__services__btn4 {
    background: #136d94;
    color: white;
    border: 0;
    border-radius: .5em;
    font-family: var(--Varela);
    transition: all .3s ease;
    padding: .5em 1em .5em 1em;
    font-size: .9em;
}

.container__services__btn4:hover {
    background: #f8e757;
    color: #000000;
    transform: translateY(-3px);
}

.container__services__Img__pyg {
    height: 8em;
    padding-bottom: 1em;
}

.container__services__devWeb h3,
h2,
p {
    padding-bottom: .3em;
    text-align: center;
}

.container__services__title__aprendiendo {
    padding: .5em 0em .5em;
    text-align: center;
}

.container__services__container__dos {
    gap: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #0000003d;
    border-radius: .7em;
    padding: .5em 1em .5em 1em;

}

.container__services__aprendiendo__Img {
    height: 50px;
}

.container__services__aprendiendo h3 {
    text-align: center;
}

.container__services__aprendiendo p {
    font-size: 3em;
    padding: 0em .2em 0em .2em;
    font-family: var(--Varela);
}


/*cuarta pagina*/
.contact {
    padding-bottom: 1em;
}

.contact h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: var(--Varela);
    padding: 1em 0em 1em 0em;
}

.contact form {
    margin: 0em 8em 0em 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000044;
    border-radius: 1.2em;
    padding: 1em 0em 1em 0em;
}

.contact label {
    font-size: 1.2em;
    padding: 0.5em 0em .5em 0em;
    font-family: var(--Varela);
}

.contact input,
textarea {
    padding: .5em;
    border: 0;
    font-size: 1em;
    border-radius: .8em;
    font-family: var(--Varela);

}

.contact .submit {
    background-color: #004d84;
    width: 100px;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
    font-family: var(--Varela);
    font-size: 1em;
    margin-top: 1em;

}

.contact .submit:hover {
    background-color: #0081dd;
    transform: translateY(-3px);
}

input:focus,
textarea:focus {
    outline: 3px solid #0081dd;
}

footer {
    padding: .5em;
    background: #004d84;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: var(--Varela);

}

footer .social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: .5em;
}

/*redes*/

ul {
    list-style: none;
}

.container__redes {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1em;
}

.redes .icon-content {
    position: relative;
}

.redes .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2.5rem;
    border-radius: 10px;
    color: #000000;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.redes .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.redes .icon-content a:hover {
    color: white;
}

.redes .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease;
}

.redes .icon-content a:hover .filled {
    height: 100%;
}

.redes .icon-content a[data-social="linkedin"] .filled {
    background-color: #0274b3;
}

.redes .icon-content a[data-social="github"] .filled {
    background-color: #24262a;
}