@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: linear-gradient(90deg, black 2%, #193248 70%, #193248 90%);
    --background-text: linear-gradient(90deg, #136d94 10%, black 60%, #f0df53 100%);
    --SulphurPoint: "Sulphur Point", sans-serif;
    --Poppins: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
   
}

br::selection,
button::selection,
textarea::selection,
input::selection,
label::selection,
img::selection,
p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
div::selection,
strong::selection {
    display: block;
}

section {
    height: 48.4em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

img:hover {
    scale: 1.2;
    transition: all .5s ease;
}

/* The sidebar menu */
.sidenav {
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    font-family: var(--rubik);
    background-color: #000000;
}

.sidenav a {
    text-decoration: none;
    font-size: 2em;
    padding: .2em 1em .2em;
    color: white;
    display: flex;
    justify-content: center;

}

.sidenav a:hover {
    background: var(--background);
    border-radius: 5px;
    padding: .2em 1em .2em;
    font-family: bold var(--rubik);
    transform: translateY(5px);
    transition: all 0.5s ease;
}

/*fin de sidenav*/

.container {
    /* contenedor de paginas*/
    margin-left: 8.75em;
    display: flex;
    flex-direction: column;
    background: var(--background);
}

.about {
    /*primera pagina*/
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 3em;

}

.about__text__Uno {
    font-size: 3em;
    text-align: left;
    padding: 0rem 0rem 1rem 9rem;
    font-family: var(--Poppins);
}

.text__Strong {
    font-size: 1.5em;
}

.about__script__Texto {
    font-family: var(--roboto);
    text-align: left;
    font-size: 2rem;
    padding: 0rem 0rem 1.5rem 9.3rem;
}

.about__text__Dos {
    font-size: 1.5em;
    text-align: left;
    padding: 0rem 0rem 3rem 9.3rem;
    font-family: var(--rubik);
}

.img__Perfil {
    width: 50%;
    display: flex;
    justify-content: center;

}

.about__img__Perfil {
    height: 340px;
    max-width: 500px;
    min-width: 100px;
}

.about__img__Perfil:hover {
    scale: 1;

}

.about .redes {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 9.4em;
    padding-bottom: 2em;
    gap: 1em
}

.about .about__Redes__linkedin {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-family: var(--Poppins);
    padding: 0em 1em 0em 0em;
    border-radius: .5em;
    background-color: #136d94;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.about .about__Redes__linkedin:hover {
    transform: translateY(-5px);
    transition: all .5s ease;
}

.about .about__Redes__github:hover {
    transform: translateY(-5px);
    transition: all .5s ease;
}

.about .about__Redes__github {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-family: var(--Poppins);
    padding: 0em 1em 0em 0em;
    border-radius: .5em;
    background-color: #282828;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.about .img__Redes {
    height: 35px;
    padding: .2em .5em .2em;

}

/*segunda pagina*/
.services {
    height: 100vh;
    margin-left: 3em;
    font-family: var(--Poppins);
}

.services .services__data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0em 1.5em;
}

.services .services__Title {
    text-align: center;
    padding: 0em 0em .5em 0em;
    font-size: 2em;
}

.services .services__container__uno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
}

.services .services__devWeb {
    margin-left: .3em;
    margin-right: .3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0000003d;
    border-radius: .7em;
    padding: .5em 1em 1em 1em;
}

.services .services__Img {
    height: 4.3em;
    padding-bottom: .5em;

}

.services .services__btn {
    background: #e44d26;
    color: white;
    border: 0;
    border-radius: .5em;
    font-family: var(--Poppins);
    transition: all .2s ease;
    padding: .5em 1em .5em 1em;
    font-size: .9em;
}

.services .services__btn:hover {
    background: #ff4010;
    transform: translateY(-3px);

}

.services .services__btn1 {
    background: #0277bd;
    color: white;
    border: 0;
    border-radius: .5em;
    font-family: var(--Poppins);
    transition: all .2s ease;
    padding: .5em 1em .5em 1em;
    font-size: .9em;
}

.services .services__btn1:hover {
    background: #039ae5;
    transform: translateY(-3px);

}

.services .services__btn2 {
    background: #ffec25;
    color: black;
    border: 0;
    border-radius: .5em;
    font-family: var(--Poppins);
    transition: all .2s ease;
    padding: .5em;
    font-size: .9em;
}

.services .services__btn2:hover {
    background: #fff158;
    transform: translateY(-3px);

}

.services .services__btn3 {
    background: #341464;
    color: white;
    border: 0;
    border-radius: .5em;
    font-family: var(--Poppins);
    transition: all .2s ease;
    padding: .5em 1em .5em 1em;
    font-size: .9em;
}

.services .services__btn3:hover {
    background: #6629c3;
    transform: translateY(-3px);
}

.services .services__btn4 {
    background: #136d94;
    color: white;
    border: 0;
    border-radius: .5em;
    font-family: var(--Poppins);
    transition: all .3s ease;
    padding: .5em 1em .5em 1em;
    font-size: .9em;
}

.services .services__btn4:hover {
    background: #f8e757;
    color: #000000;
    transform: translateY(-3px);
}

.services .services__Img__pyg {
    height: 8em;
    padding-bottom: 1em;

}

.services .services__devWeb h3,
h2,p {
    padding-bottom: .3em;
    text-align: center;
}

.services .services__title__aprendiendo {
    padding: .5em 0em .5em;
    text-align: center;
}

.services .services__container__dos {
    gap: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #0000003d;
    border-radius: .7em;
    padding: .5em 1em .5em 1em;

}

.services__aprendiendo__Img {
    height: 50px;
}

.services__aprendiendo h3 {
    text-align: center;
}

.services__aprendiendo p {
    font-size: 3em;
    padding: 0em .2em 0em .2em;
    font-family: var(--Poppins);
}

/*tercera pagina*/
.projects {
    height: 100vh;
    margin-left: 3em;
    font-family: var(--Poppins);
}

.projects__container {
    display: flex;
    flex-direction: column;
}

.projects .projects__container h1 {
    text-align: center;
    font-size: 2em;
    margin: .5em;
}

.projects__main {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1em;
    margin: 1em;
}

.projects .projects__img__CluckSys {
    height: 150px;
    margin-top: 1em;
    margin-bottom: .5em;

}

.projects__container__selection__CluckSys {
    background: linear-gradient(to right, #e65c00, #f9d423);
    width: 25%;
    border-radius: 1em;
    align-items: center;    
}

.projects__container__selection__CluckSys p{
    margin: .5em 0em ;
}
.projects i{
    color: black;
    font-size: 2em;
    margin-bottom: 1em ;
}
.projects__a {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
}

.projects__container__selection__Encriptador {
    width: 25%;
    border-radius: 1em;
    background: white;
    align-items: center;
}

.projects__container__selection__Encriptador p{
    margin: .5em 0em ;
}

.projects__img__Encriptador {
    height: 23em;
}

.projects .p {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    font-weight: bold;

}

.projects p {
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    padding: 0em 3em;
}

.projects img:hover {
    border-radius: 1em;
    scale: 1;
    transform: translateY(-5px);
}

.projects__container__selection__Qr{
    width: 25%;
    border-radius: 1em;
    background: #008000;
    align-items: center;
}

.projects__img__Qr {
    height: 23em;
    text-align: center;
    padding-top: 1em;
}

.projects__container__selection__numberRandom{
    width: 25%;
    border-radius: 1em;
    background: #980098;
    align-items: center;
    padding-top: 1em;
}

.projects__img__numberRandom {
    height: 23em;
    text-align: center;
}

.projects__skills{
    display: flex;
    flex-direction: row;
    
}

.projects__skill img{
    height: 60px;

}

/*cuarta pagina*/
.contact {
    height: 100vh;
    margin-left: 3em;
    padding-bottom:1em;
}

.contact h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: var(--Poppins);
    padding: 1em 0em 1em 0em;
}

.contact form {
    margin: 0em 8em 0em 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000044;
    border-radius: 1.2em;
    padding: 1em 0em 1em 0em;
}

.contact label {
    font-size: 1.2em;
    padding: 0.5em 0em .5em 0em;
    font-family: var(--Poppins);
}

.contact input,
textarea {
    padding: .5em;
    border: 0;
    font-size: 1em;
    border-radius: .8em;
    font-family: var(--Poppins);

}

.contact .submit {
    background-color: #004d84;
    width: 100px;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
    font-family: var(--Poppins);
    font-size: 1em;
    margin-top: 1em;

}

.contact .submit:hover {
    background-color: #0081dd;
    transform: translateY(-3px);
}

input:focus,
textarea:focus {
    outline: 3px solid #0081dd;
}

footer {
    margin-left: 3em;
    padding: .5em;
    background: #004d84;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: var(--Poppins);

}

footer .social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: .5em;
}


.header {
    grid-area: header;
}

.about {
    grid-area: about;
}

.services {
    grid-area: services;
}

.proyects {
    grid-area: proyects;
}

.contact {
    grid-area: contact;
}

@media screen {
    /**/
}