@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    
    --rubik: "Rubik", sans-serif;
    --archivo: "Archivo", sans-serif;
    --roboto: "Roboto", sans-serif;
}

.header {
    text-align: center;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

.main__container {
    color: white;
    background: linear-gradient(90deg, #000000 0%, hsl(208, 48%, 19%) 18%, hsl(208, 48%, 19%) 84%,#193248 100%);
}

.main__container .item__lefts {
    border: 1px solid white;
}

.main__container .lefts__text {
    font-family: var(--);
    font-size: 3rem;
    
}
.main__container .lefts__paragrafo{
    border: 1px solid white;
    padding: 1rem 0rem 3rem 0rem;
    font-size: 2rem;
    font-family: var(--roboto);
}

.lefts__text__strong {
    font-family: var(--rubik);
    font-size: 4.5rem;
}

.main__container .item__rights {
    border: 1px solid white;
}

.main__container .item__rights .rights__image {
    height: 400px;

}
.footer {
    text-align: center;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}