@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@237&display=swap');

:root {
    --bg: linear-gradient(90deg, black 2%, #193248 70%, #193248 90%);
    --background-text: linear-gradient(90deg, #136d94 10%, black 60%, #f0df53 100%);
    --SulphurPoint: " Sulphur Point", sans-serif;
    --Varela: "Varela Round", sans-serif;
    --Jost: "Jost", sans-serif;

    --bg-card-uno: linear-gradient(90deg, black 2%, #7a0505 70%, #770000 90%);
    --bg-card-dos: linear-gradient(90deg, rgb(3, 14, 36) 2%, #120076 70%, #011876 90%);
    --bg-card-tres: linear-gradient(90deg, rgb(6, 26, 2) 2%, #0f7006 70%, #0faa01 90%);
    --bg-card-cuatro: linear-gradient(90deg, rgb(41, 0, 0) 2%, #7a0505 70%, #d10000 90%);
    --bg-card-cuatro-ext: linear-gradient(to right, #e3a301, #FFCC00);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    background: var(--bg);
}
/*
br::selection,
button::selection,
textarea::selection,
input::selection,
label::selection,
img::selection,
p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
div::selection,
strong::selection {
    display: block;
}

section {
    color: white;
    display: flex;
    width: 100vw;
    height: 100vh;
}

Móvil pequeño: 360 x 640 px
Móvil medio: 375 x 667 px
Smartphone grande: 720 x 1280 px
Ordenador portátil medio: 1366 x 768 px
Ordenador de escritorio medio: 1440 x 900 px
PC de escritorio grande: 1920 x 1080 px
*/

/**navbar**/


