.contact {
    min-height: 95vh; /* Cambiado a min-height */
}

.form__Contenido h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        padding-bottom: 2rem; /* Reducido para mejor ajuste en pantallas más pequeñas */
        font-family: var
}

.form__Contenido {
    display: flex;
    padding: 5rem 2rem; /* Reducido para mejor ajuste en pantallas más pequeñas */
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* Ajuste para hacerlo más flexible */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}


.contact__card {
    border-radius: 10px;
    padding: 1.2rem;
    width: 90%; /* Ajuste para hacerlo más flexible */
    max-width: 35rem; /* Limita el ancho máximo */
    height: auto; /* Ajustado a auto para que se adapte al contenido */
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto; /* Centrado automático */

}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.group {
    position: relative;
}

.form .group label {
    font-size: 1rem;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -15px;
    left: 10px;
    transition: all .3s ease;
    font-family: var(--SulphurPoint);
}

.form .group input,
.form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 2rem;
    outline: 0;
    width: 100%;
    background-color: transparent;
    font-family: var(--Jost);
    font-size: 1rem;
}

.form .group input:placeholder-shown+label,
.form .group textarea:placeholder-shown+label {
    top: 12px;
    background-color: transparent;
    color: #3A6D8C;
}

.form .group input:focus,
.form .group textarea:focus {
    border-color: none;
}

.form .group input:focus+label,
.form .group textarea:focus+label {
    top: -10px;
    left: 10px;
    color: #3A6D8C;
    font-weight: 600;
    font-size: 1rem;
}

.form .group textarea {
    resize: none;
    height: 100px;
}

.form button {
    background-color: #193146;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form button:hover {
    background-color: #23435f;
    transform: translate3d(0, 7px, 2px)
}


@media screen and (max-width: 1366px) {

    .contact__card {
        width: 50%;
        height: 100%;
    }

    .form__Contenido {
        display: flex;
        padding: 5rem 1rem;
    }

    .form__Contenido h1 {
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }

    .form .group textarea {
        margin-bottom: 1.5rem;
    }

}

@media screen and (max-width: 1280px) {
    .contact__card {
        width: 56%;
        height: auto;
    }

    .form__Contenido h1 {
        font-size: 2.3rem;
        padding-bottom: 9rem;
    }


}

/*smartphones*/
@media screen and (max-width: 1024px) {

    .contact__card {
        width: 24rem;
    }

}

@media screen and (max-width: 450px) {
    .contact__card {
        width: 40dvh;
        height: 45dvh;
        margin-top: 2rem;
    }

    .form__Contenido {
        display: flex;
        padding: 0;
        margin-top: 6rem;
    }

    .form__Contenido h1 {
        font-size: 1.5rem;
        padding: 3rem 2rem;
    }

}