@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@237&display=swap');

:root {
    --background: linear-gradient(90deg, black 2%, #193248 70%, #193248 90%);
    --background-text: linear-gradient(90deg, #136d94 10%, black 60%, #f0df53 100%);
    --SulphurPoint: " Sulphur Point", sans-serif;
    --Varela: "Varela Round", sans-serif;
    --Jost: "Jost", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: clamp(14px, 2vw, 18px);
    scroll-behavior: smooth;
    scrollbar-width: none;
    background: var(--background);
}

br::selection,
button::selection,
textarea::selection,
input::selection,
label::selection,
img::selection,
p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
div::selection,
strong::selection {
    display: block;
}

section {
    color: white;
    display: flex;
    min-height: 100vh;
    height: auto;
}

.container {
    /* contenedor de paginas*/
    display: flex;
    flex-direction: column;

}

.mostrar__mobile{
    display: none;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--background);
    z-index: 999;
    padding-top: .5rem;
}

.navbar__container__home {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 1rem 5rem;
}

.navbar__home {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__home:hover {
    display: flex;
    background-color: #ffffff2d;
    align-items: center;
    padding: .2rem 1rem;
    border-radius: 15px;
    transform: translateY(3px);
    transition: all .2s ease;
}

.navbar__items {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 3rem;

}

.navbar__items .navbar__item {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__container {
    display: flex;
    align-items: center;
    padding: .2rem 1rem;
    border-radius: 15px;

}

.navbar__container:hover {
    display: flex;
    background-color: rgba(255, 255, 255, 0.082);
    align-items: center;
    padding: .2rem 1rem;
    border-radius: 15px;
    transform: translateY(3px);
    transition: all .2s ease;
}

footer {
    padding: .5em;
    background: #00000042;
    justify-content: center;
    align-items: center;
    font-family: var(--Varela);

}

footer .social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: .5em;
}
