:root {
    --bg-card-uno: linear-gradient(90deg, black 2%, #7a0505 70%, #770000 90%);
    --bg-card-dos: linear-gradient(90deg, rgb(3, 14, 36) 2%, #120076 70%, #011876 90%);
    --bg-card-tres: linear-gradient(90deg, rgb(6, 26, 2) 2%, #0f7006 70%, #0faa01 90%);
    --bg-card-cuatro: linear-gradient(90deg, rgb(41, 0, 0) 2%, #7a0505 70%, #d10000 90%);
    --bg-card-cuatro-ext: linear-gradient(to right, #e3a301, #FFCC00);
    --SulphurPoint: " Sulphur Point", sans-serif;
    --Varela: "Varela Round", sans-serif;
    --Jost: "Jost", sans-serif;
}


/*tercera pagina*/
.projects {
   
    font-family: var(--Varela);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h1{
    font-family: var(--Varela);
    font-size: 3rem;
}


.projects__main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 90dvh;
    gap: 1rem;
}

.projects__items {
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: none;
}

/*cards*/

.card {
    margin: .5rem;
    position: relative;
    width: 27rem;
    aspect-ratio: 16/9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
    width: 10rem;
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: #008a0c;
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.card__content img {
    width: 30px;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 10px;
    font-size: .9rem;
    color: white;
    line-height: 1.4;
}

.card__botton {
    display: flex;
    gap: 1rem;
    padding-bottom: .5rem;
}

.card__botton a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.card__botton .images {
    margin-left: 3rem;
}

.button {
    --button-accent: #0faa01;
    border: none;
    padding: 5px 20px;
    background: var(--button-accent);
    box-shadow: 0px 5px 0px 0px color-mix(in oklab, var(--button-accent) 80%, black),
        0px 5px 0px 5px rgb(17, 54, 8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    color: black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.button:active {
    box-shadow: 0px 0px 0px 0px color-mix(in oklab, var(--button-accent), black),
        0px 0px 0px 5px black;
    transform: translateY(5px);
}

.secondary {
    background: transparent;
    color: #ffffff;
    border: transparent;
}

/*carta dos*/
.card__dos {
    margin: .5rem;
    position: relative;
    width: 27rem;
    aspect-ratio: 16/9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: var(--bg-card-dos);
}

.card__dos .image__logoNameGhostNumber {
    width: 350px;
}

.card__content__dos .image__logoGhostNumber {
    width: 40px;
}

.card__botton__dos img {
    width: 30px;
}

.card__content__dos .logoGhostNumber {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__content__dos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: var(--bg-card-dos)
}

.card__dos:hover .card__content__dos {
    transform: rotateX(0deg);
}

.card__description__dos {
    margin: 10px 0 10px;
    font-size: .9rem;
    color: white;
    line-height: 1.4;
}

.card__botton__dos {
    display: flex;
    gap: 1rem;
    padding-bottom: .5rem;
}

.card__botton__dos a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.button__dos {
    --button-accent: #0B2662;
    border: none;
    padding: 5px 20px;
    background: var(--button-accent);
    box-shadow: 0px 5px 0px 0px color-mix(in oklab, var(--button-accent) 80%, black),
        0px 5px 0px 5px #00000086;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    color: black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.button__dos:active {
    box-shadow: 0px 0px 0px 0px color-mix(in oklab, var(--button-accent), black),
        0px 0px 0px 5px #050d1d;
    transform: translateY(5px);
}

.secondary__dos {
    background: transparent;
    color: #ffffff;
    border: transparent;
}

/*carta tres*/
.card__tres {
    margin: .5rem;
    position: relative;
    width: 27rem;
    aspect-ratio: 16/9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: var(--bg-card-tres);
}

.card__content__tres {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: var(--bg-card-tres)
}

.card__tres:hover .card__content__tres {
    transform: rotateX(0deg);
}

.card__container__EncryptMaster {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__imgEncryptMaster__uno {
    width: 350px;
}

.card__imgEncryptMaster__dos {
    width: 120px;
}

.card__content__tres img {
    width: 30px;
}

.card__description__tres {
    margin: 10px 0 10px;
    font-size: .9rem;
    color: white;
    line-height: 1.4;
}

.card__botton__tres {
    display: flex;
    gap: 1rem;
    padding-bottom: .5rem;
}

.card__botton__tres a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.card__botton__tres .images {
    margin-left: 3rem;
}

.button__tres {
    --button-accent: #0faa01;
    border: none;
    padding: 5px 20px;
    background: var(--button-accent);
    box-shadow: 0px 5px 0px 0px color-mix(in oklab, var(--button-accent) 80%, black),
        0px 5px 0px 5px rgb(6, 49, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    color: rgb(16, 29, 16);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.button__tres:active {
    box-shadow: 0px 0px 0px 0px color-mix(in oklab, var(--button-accent), black),
        0px 0px 0px 5px rgb(6, 56, 6);
    transform: translateY(5px);
}

.secondary__tres {
    background: transparent;
    color: #ffffff;
    border: transparent;
}

/*carta cuatro*/
.card__cuatro {
    margin: .5rem;
    position: relative;
    width: 27rem;
    aspect-ratio: 16/9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: var(--bg-card-cuatro-ext);
}

.card__cuatro .card__cuatro__img {
    width: 150px;
}

.card__content__cuatro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: var(--bg-card-cuatro)
}


.card__cuatro:hover .card__content__cuatro {
    transform: rotateX(0deg);
}

.card__container__cuatro__img{
    background: rgba(0, 0, 0, 0.041);
    border-radius: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__title__cuatro {
    margin: 0;
    font-size: 2rem;
    color: #FFCC00;
    font-weight: 700;
}

.card__description__cuatro {
    margin: 10px 0 10px;
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.4;
    padding: .5rem .8rem;
}

.card__button__cuatro {
    --button-accent: #FFCC00;
    border: none;
    padding: 5px 20px;
    background: var(--button-accent);
    box-shadow: 0px 5px 0px 0px color-mix(in oklab, var(--button-accent) 80%, black),
        0px 5px 0px 5px rgb(31, 3, 3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    color: black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.card__button__cuatro:active {
    box-shadow: 0px 0px 0px 0px color-mix(in oklab, var(--button-accent), black),
        0px 0px 0px 5px rgb(26, 0, 0);
    transform: translateY(5px);
}

.secondary__cuatro {
    background: transparent;
    color: rgb(39, 2, 2);
    border: transparent;
}