/*services*/
.container__services {
    font-family: var(--Varela);
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
}

.container__services__data {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    height: auto;
    box-sizing: border-box;
}

.container__services__Title {
    text-align: center;
    padding: .5em 0em 1em 0em;
    font-size: 2.5em;

}

.container__services__container__uno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
}

.container__services__devWeb {

        margin: .3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #0000003d;
        border-radius: .7em;
        padding: 1rem 1em;
        height: auto; /* Ajustado a auto para flexibilidad */
        width: calc(100% - 2rem); /* Ajuste de ancho */
        max-width: 30rem; /* Limitar el ancho máximo */
        box-sizing: border-box;
}

.container__services__Img {
    height: 5em;
    padding: .5em;
}

.container__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.3rem;
    box-sizing: border-box;
}

.container__info p {
    margin: 1.5rem;
    font-size: 1.3rem;
}

.container__services__Img__pyg {
    height: 6em;
    padding-bottom: .5em;
    box-sizing: border-box;
}

.container__services__title__aprendiendo {
    padding: 4.5em 0em .5em;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.container__services__container__dos {
    gap: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #0000003d;
    border-radius: .7em;
    padding: 1.5em 3em;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;

}

.container__services__aprendiendo__Img {
    height: 4rem;
    box-sizing: border-box;
}

/*laptops medianas*/
@media screen and (max-width: 1366px) {

    .container__services__data{
        padding-top: 2rem;
    }

    .container__info p {
        margin: .5rem;
        font-size: 1.2rem;
        padding-top: .7rem;
    }

    .container__info {
        font-size: .8rem;
    }

    .container__info h3{
        font-size: 1.2rem;
    }


    .container__services__Title {
        padding: .2rem 0rem .7rem 0rem;
        font-size: 1.5rem;
    }

    .container__services__Img__pyg {
        height: 5rem;
    }

    .container__services__Img {
        height: 5rem;
    }

    .container__services__title__aprendiendo {
        padding: 3.2rem 0rem 1.9rem 0rem;
    }

    .container__services__aprendiendo__Img {
        height: 3rem;
    }

    .container__services__aprendiendo h3 {
        font-size: 1.4rem;
    }

}


@media screen and (max-width: 1280px) {

    .container__info p {
        font-size: 1.5rem;
    }

    .container__services__Title {
        padding: .2rem 0rem 1.7rem 0rem;
        font-size: 2rem;
    }

    .container__services__devWeb h3 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

}

/*smartphones*/
@media screen and (max-width: 1024px) {

    .container__services {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .container__services__data {
        margin-top: 0rem;
    }

    .container__services__devWeb {
    
            border-radius: .7em;
            padding-top: .5rem;
            height: auto;
            width: 97%;
    }

    .container__services__Img {
        height: 3em;
    }

    .container__info p {
        margin: 0;
        padding-top: 1rem;
        font-size: 0.7rem;
    }

    .services__devWeb {
        font-size: 1rem;
    }

    .container__services__Title {
        padding: 1.2em 0em .5em 0em;
    }

    .container__services__container__dos {
        gap: .5em;
        padding: .5rem .5rem;
    }

}


@media screen and (max-width: 450px) {

    .container__services__devWeb {
        padding: .4rem .3em;
      
    }

    .container__services__data {
        padding-top: 0rem;
        margin-top: 1.3rem;
    }

    .container__services {
        height: 100dvh;
    }

    .container__services__container__uno {
        padding-bottom: 1.5;
    }

    .container__info {
        padding-top: 0rem;
    }

    .container__services__Title {
        font-size: 1.2em;
        margin-top: .3rem;
        padding: 1rem 0rem .5rem 0rem;
    }

    .container__services__title__aprendiendo {
        padding: 1rem 0rem 1rem 0rem;
        font-size: 1rem;
    }

    .container__info p {
        padding-top: .6rem;
    }

    .container__services__devWeb h3 {
        font-size: 1rem;
    }

    .container__services__aprendiendo__Img {
        height: 2.5rem;
    }


    .container__services__aprendiendo h3 {
        font-size: 1rem;
    }

    .container__services__Img {
        height: 3.5rem;
    }


}